/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* Set background image */
body {
  background-image: url('red_curtains_background.jpg');
  background-repeat: repeat;
  background-size: cover;
}

/* Set text color and font */
body, h1, h2, h3, h4, h5, h6 {
  color: #blue;
  font-family: 'Montserrat', sans-serif;
}

/* Adjust header style */
header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

/* Adjust sidebar style */
.sidebar {
  background-color: #000000;
  padding: 20px;
  color: #blue;
}

.sidebar h4 {
  font-size: 24px;
}

.sidebar strong {
  font-weight: bold;
}

.sidebar .bet-button {
  background-color: #dc3545;
  color: #blue;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar .bet-button:hover {
  background-color: #c82333;
}

.sidebar .chip-color {
  margin-top: 20px;
}

.sidebar .spin-button {
  background-color: #007bff;
  color: #blue;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar .spin-button:hover {
  background-color: #0056b3;
}

.sidebar .reset-button {
  background-color: #ffc107;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

.sidebar .reset-button:hover {
  background-color: #e0a800;
}

/* Adjust main content style */
.main-content {
  padding: 20px;
}

/* Adjust plot area style */
.plot-area {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

/* Adjust footer style */
footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Hide default Shiny styles */
.shiny-input-container,
.shiny-output-container {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}


#bet4
{
  background-color: #2de4d8; !important;
  border-color: ; #c230c0; !important;
}





/* HHOME PAGE */
.section_HP{
  min-width: 900px;
  
}

.box {
          border-radius: 10px;
          border: 1px solid #ccc;
          
          display: flex;
          align-items: center;
          justify-content: center;
          
          margin-bottom: 20px;
          min-width: 900px;
          margin-right: 40px;
          margin-left: 40px;
        }

        .box img {
          border-radius: 10px;
          max-width: 100%;
          height: auto;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          
        }
        
        

        .text_section_HP {
          max-width: 70%;
         
        }

        .text_section_HP h2 {
          font-family: "Arial Black", sans-serif; /* Change the font to a casino-like style */
          font-size: 44px;
          margin-top: 40px;
        }
        
        .text_section_HP p {
          font-size: 25px;
          
        }
